<%= link_to "Go Back", messages_path, class:"button is-black mt-5"%>
  <div class="columns my-5 is-centered is-centered-mobile">
    <div class="column is-6 is-12-mobile bodo has-background-light">
      <h1 class="has-text-centered my-2"><%= @user.name.capitalize %></h1>
      <% @sender_id = @user.id %>
      <% @messags = Message.where('sender_id =? AND receiver_id =? or receiver_id =? AND sender_id=?', current_user.id, @sender_id, current_user.id, @sender_id ).order(created_at: :asc) %>
      <% @messags.each do |message| %>
        <div class="columns">
          <% if message.sender_id == current_user.id %>
            <div class="column is-12-mobile">
              <div class="columns">
                <div class="column is-6 is-6-mobile  bod has-background-warning">
                  <span>Me:</span><br>
                  <b><i><%= message.created_at.strftime("%d %b %y @%H:%M:%S") %></i></b><br>
                  <%= message.body %> <br>
                </div>
              </div>
            </div>
          <% else %>
            <div class="column is-12-mobile has-text-right">
              <div class="columns is-flex">
                <div class="column is-6 is-6-mobile"></div>
                <div class="column is-6 is-6-mobile bod has-background-white">
                  <b><i class="has-background-light p-1"><%= message.created_at.strftime("%d %b %y  @%H:%M:%S") %></i></b><br>
                  <%= message.body %> <br>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= form_for @messagess, method: :post do |f| %>
        <%= f.text_field :sender_id, value: current_user.id, type: :hidden %>
        <%= f.text_field :receiver_id, value: @sender_id, type: :hidden %>
        <div class="field">
            <%= f.text_area :body, class:"inputs", placeholder: "Send Message to #{ @user.name.capitalize }" %>
        </div>
        <div class="has-text-right">
          <%= f.submit 'Send Message', class:"button is-success btnn" %>
        </div>
      <% end %>
    </div>
  </div>
