<p id="notice"><%= notice %></p>

<div class="columns my-1">
  <div class="column is-4 has-background-grey">
    <div class="my-5">
      <h5 class="has-text-centered my-3"><strong>Suggestions</strong></h5>
      <% @users.each do |user| %>
        <% unless @pending.include?(user.id) %>
          <% unless @inverted.include?(user.id) %>
            <div class="box">
              <div class="columns">
                <div class="column is-6">
                  <%= user.name %>
                </div>
                <div class="column is-3">
                  <%= form_for current_user.friendships.build(friend_id: user.id) do |f| %> 
                      <%= f.text_field :user_id, value: current_user.id, type: :hidden %>
                      <%= f.text_field :friend_id, value: user.id, type: :hidden %>
                      <%= f.text_field :confirmed, value: false, type: :hidden %>
                      <%= f.submit 'Add Friend', class:"button is-info px-5"%>
                    <% end%>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="column is-8 has-background-grey-lighter">
    <div class="my-5">
      <h5 class="has-text-centered my-3"><strong>Pending Friendships</strong></h5>
      <% current_user.pending_friendships.each do |friendship| %>
            <div class="box">
              <div class="columns">
                <div class="column is-4">
                  <%= friendship.friend.name.capitalize %>
                </div>
                <div class="column is-4">
                <button class="button is-grey">Request Sent</button>
                </div>
                <div class="column is-4">
                <%= link_to 'Delete request', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
                </div>
              </div>
            </div>
      <% end %>
    </div>

    <div class="my-5">
    <h5 class="has-text-centered my-3"><strong>Incoming Friendships</strong></h5>
      <% current_user.inverted_friendships.each do |friendship| %>
            <div class="box">
              <div class="columns">
                <div class="column is-4">
                  <%= friendship.user.name.capitalize %>
                </div>
                <div class="column is-4">
                  <%= form_for friendship, :url => [:confirm_friendship, friendship], html: { method: :put } do |f| %> 
                    <%= f.text_field :user_id, value: friendship.user.id, type: :hidden %>
                    <%= f.text_field :friend_id, value: current_user.id, type: :hidden %>
                    <%= f.text_field :confirmed, value: true, type: :hidden %>
                    <%= f.submit 'Confirm Friend', class:"button is-info px-5"%>
                  <% end %>
                </div>
                <div class="column is-4">
                  <%= link_to 'Delete request', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger" %>
                </div>
              </div>
            </div>
      <% end %>
    </div>

    <div class="my-5">
      <h5 class="has-text-centered my-3"><strong>Friends</strong></h5>
      <% current_user.friends.each do |friendship| %>
        <div class="box">
          <div class="columns">
            <div class="column is-8">
              <%= friendship.name.capitalize %>
            </div>
            <div class="column is-2">
              <%= link_to 'Show Profile', friendship, class:"button is-primary" %>
            </div>

            <div class="column is-2">
              <%= link_to 'Unfriend', delete_friendship_friendship_path(friendship), method: :delete, data: {confirm: "are you sure"}, class:"button is-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= current_user.name %>
<%= current_user.id %>
